@font-face {
    font-family: Jura;
    src: url(../fonts/Jura-Bold.ttf);
}
  
@font-face {
    font-family: Jura_text;
    src: url(../fonts/Jura-Medium.ttf);
}

@mixin h1 ($theme: Black) {
  font-family: Jura;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $theme;
  margin: 0px;
}

@mixin h2 ($theme: Black, $size: 30px) {
  font-family: Jura;
  font-size: $size;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  color: $theme;
}

@mixin text($theme: Black) {
  font-family: Jura_text;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $theme;
}
